footer {
    padding-block: 20px;
    background-color: #232936;
    margin-top: 50px;

}

.textoEnvio {
    color: white;
    font-size: 25PX;
    font-family: 'Rubik Iso', cursive;
    text-align: center;

}


