.padre_formulario {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;



}

.hijo_formulario {

    padding-inline: 5%;
    padding-block: 5%;

    background: rgb(134, 135, 138);






    .form-control {
        padding-inline: 100px;
        border-radius: 0px;

    }

    .input_formulario {
        text-align: center;
        margin: 30px;
    }

    input {
        text-align: center;
        font-family: letraFija;

    }


    .tituloFormulario {
        text-align: center;
        margin-top: 20px;
        font-family: letraFija;
        color: white;
    }
}


.form-select {
    margin: 30px;

}

.botonformulario {
    margin-top: 10px;

    margin-left: 100px;

    background-color: #5C636A;

    font-family: letraFija;
    border: 0px;
}




.botonformulario:hover {
    background-color: #323639 !important;
}

.warning {
    color: red;
}