.botonmodal {

    background-color: #5C636A;
    border: 0px;
    font-family: letraFija;
}

.botonmodal:hover {
    background-color: #41464b;
}


.contenedorModal {
    margin-block: 50px;

    p {
        font-family: letraFija;
    }
}


.modal-header {
    background-color: #232936;

    .modal-title {
        color: white;
        text-align: center;
        font-family: letraFija;

    }
}


.modal-footer {
    display: flex;
    justify-content: space-around;

    background-color: #232936;


    .btn {
        font-family: letraFija;
    }


}

.carritoTotal {
    background-color: rgb(209, 214, 214) !important;
    
    display: flex;
    justify-content: end;

    .precioCarrito {
        font-family: letraFija;
        
    }
}


.carritoImagen {
    display: flex;
    justify-content: space-around;

    .imagenCarrito {
        margin-top: 50px;
        width: 150px;
        height: 150px;
    }
}